@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Medium.woff2') format('woff2'),
        url('Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('Gagalin-Regular.woff2') format('woff2'),
        url('Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url('Lifehack-Medium.woff2') format('woff2'),
        url('Lifehack-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.first-screen{
  min-height: 650px;
  background: url(img/texture.png);
  background-size: cover;
}

.first-screen__top-block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

#logo{
  margin-top: 13px;
}

#ul-text{
  font-size: 20px;
  margin-top: 41px;
}

#ul-text li{
  margin: 10px;
}

li a span{
  margin-right: 13px;
}

#ul-text a:hover{
  background-color: #e45028;
  border-radius: 7px;
}

.first-screen__top-block li {
    display: inline;
}

.first-screen__top-block a {
    color: white;
    text-decoration: none
}


.first-screen__middle-block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}


.first__section{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.info span{
  color: #f9b43b;
  font-size: 72px
} 

.info{
  color: #ffffff;
  font-size: 65px;
  margin-left: 11px;
  margin-top: 60px;
  width: 402px
}

#burger{
  margin-top: 17px;
}

.rnav__item{
 display: block;
 width:20px;
 height: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
}

#right-nav a{
  display: block;
  width: 5px;
  height: 5px;
}

a.new:after{
content:'';/* //ОБЯЗАТЕЛЬНОЕ ПОЛЕ (сам часто забывал про него) */
display:block;
width:5px;
height:5px;
background: #fff;
border-radius: 50%;
}

.point-active{
     border: 1px solid #fff;
     border-radius: 50%;
     position: absolute;
} 

.first-screen__bottom-block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.we{
  min-height: 600px;
  background: url(img/bg.png);
  background-size: cover;
}

.top-section{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

#toptext{
  font-size: 72.06px;
  color: #2f3234;
  margin-top: 133px;
}

.middle-section{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

#topt{
  font-size: 24.12px;
  color: #2f3234
}

#bottomt{
  font-size: 14.01px;
  color: #8b8987;
  width: 292px;
}

.first-el{
  text-align: center;
}

.second-el{
  text-align: center;
}

.third-el{
  text-align: center;
}

.reviews{
  min-height: 600px;
  font-size: 0;
}

.first-section-img{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.first-section-img img{
  object-fit: cover;
}

.second-section-img{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center
}

.second-section-img img{
  object-fit: cover;
}


.imgno1{
  width: 25%;
  position  : relative;
}

.imgno2{
  width: 25%;
  position  : relative;
}
.imgno3{
  width: 25%;
  position  : relative;
}
.imgno4{
  width: 25%;
  position  : relative;
}

.imgno5{
  width: 25%;
  position  : relative;
}
.imgno6{
  width: 25%;
  position  : relative;
}
.imgno7{
  width: 25%;
  position  : relative;
}
.imgno8{
  width: 25%;
  position  : relative;
}


.firstp {
    position: absolute;
    top: 50px;
    left: 20px;
}

#fname{
    color: white;
    font-size: 14px;  
} 


.secondp {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 240px;
}

#sname{
    color: white;
    font-size: 14px;
    line-height: 1.7;  
} 

.thirdp {
    position: absolute;
    top: 235px;
    left: 20px;
    background-color:#2f3234;
    padding: 10px;
    border-radius: 7px;
}

.thirdp:hover {
    background-color:#1f2122;
}

#tname{
    color: white;
    font-size: 14px;  
} 